/* line 3 */
body .main .main-content {
  font-family: Helvetica, Arial;
}
/* line 6 */
body .main .main-content .boxed {
  width: 820px;
  height: 330px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
}
