/* line 1 */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, hr, button {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: none;
}

/* line 10 */
body {
  background: #f7fafa;
  min-width: 1024px;
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 10pt;
}
/* line 16 */
body .wrapper {
  background: #cccccc url(../images/beige_paper.png) repeat;
  width: 100%;
  position: relative;
}
/* line 18 */
body .wrapper .eyebrow {
  position: fixed;
  height: 40px;
  width: 100%;
}
/* line 22 */
body .wrapper .eyebrow div {
  margin: 0 auto;
  width: 920px;
}
/* line 25 */
body .wrapper .eyebrow div ul {
  margin-left: 100px;
}
/* line 27 */
body .wrapper .eyebrow div ul li {
  float: left;
  list-style: none;
}
/* line 30 */
body .wrapper .eyebrow div ul li a {
  color: white;
  text-decoration: none;
  float: left;
  font-size: 25px;
  padding-left: 30px;
  text-shadow: 2px 2px 1px black;
}
/* line 38 */
body .wrapper .eyebrow div ul .left a:hover {
  -webkit-transform: rotate(-10deg) scale(1.2);
  -moz-transform: rotate(-10deg) scale(1.2);
  -o-transform: rotate(-10deg) scale(1.2);
}
/* line 43 */
body .wrapper .eyebrow div ul .right a:hover {
  -webkit-transform: rotate(10deg) scale(1.2);
  -moz-transform: rotate(10deg) scale(1.2);
  -o-transform: rotate(10deg) scale(1.2);
}
/* line 47 */
body .wrapper .header {
  background: #f7fafa url("/images/keurbooms-strand.jpg") no-repeat;
  background-size: 100%;
  background-position: center;
  width: 100%;
  height: 250px;
}
/* line 53 */
body .wrapper .header .header-content {
  padding-top: 10px;
  margin: 0 auto;
  width: 920px;
}
/* line 57 */
body .wrapper .header .header-content h1 {
  color: white;
  text-shadow: 1px 1px 1px black;
  filter: dropshadow(color=black, offx=1, offy=1);
  font-size: 134px;
  z-index: 0;
  margin-left: 45px;
}
/* line 68 */
body .wrapper .main {
  border-top: 1px solid #68adb1;
  height: auto;
}
/* line 71 */
body .wrapper .main .main-content {
  margin: 0 auto;
  width: 920px;
}
/* line 74 */
body .wrapper .main .main-content section {
  font-family: "Swanky and Moo Moo", cursive;
  font-size: 24px;
  padding: 50px;
  margin-bottom: 40px;
}
/* line 78 */
body .wrapper .main .main-content section .important {
  font-weight: bold;
  color: #677a6e;
}
/* line 83 */
body .wrapper .main .main-content section .boxed {
  width: 820px;
  height: 330px;
  overflow: hidden;
  margin-top: 25px;
  margin-bottom: 25px;
  -moz-box-shadow: 10px 10px 5px #888888;
  -webkit-box-shadow: 10px 10px 5px #888888;
  box-shadow: 10px 10px 5px #888888;
}
/* line 93 */
body .wrapper .footer {
  font-family: helvetica;
  height: 9px;
  font-size: 7px;
  text-align: center;
  padding-left: 120px;
  background: #eeeeee;
}

/* line 101 */
ul {
  margin-left: 50px;
}
